html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    font-family: "roboto-regular";
    font-size: 1.6rem;
    line-height: 1.6;
}

.container{
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}