:root {
    --color-primary: #E76F51
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "roboto-regular";
    font-size: 1.6rem;
    line-height: 1.6;
}

.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

/* --- reset style --- */

a {
    text-decoration: none;
}

/* --- helper class --- */



/* --- hedaer-menu --- */


.header {
    background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)), url("../images/header-bg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 55rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.nav__wrapper{
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    height: 5.5rem;
    width: 5.5rem;
}

.logo__img {
    height: 100%;
    width: 100%;
}

.menu {
    display: none;
    margin-left: 3rem;
}

.menu__item {}

.menu__link {
    color: #D2D2D2;
    margin-right: 1.5rem;
}

.login {
    display: none;
}

.login__item {}

.login__link {
    font-family: "roboto-medium";
    font-size: 1.8rem;
    color: #fff;
    margin-left: 4rem;
}

.login__link--border {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 1rem 3rem;
}

.mobile-menu-login {
    background-color: gray;
    position: fixed;
    top: 0;
    left: -25rem;
    bottom: 0;
    width: 25rem;
    padding: 2.5rem;
    transition: all ease-in-out 300ms;
}

.mobile-menu__item {
    margin-bottom: 1rem;
}

.mobile-menu__link {
    color: #fff;
}

.mobile-login {
    display: flex;
    margin-top: 3rem;
    gap: 1rem;
}

.mobile-login__item {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-login__link {
    color: #fff;
}

.mobile-login__link {}

.mobile-login__link--border {}

.nav-btn {
    background-color: #fff;
    height: 5.5rem;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    cursor: pointer;
}

.nab-btn__line {
    display: block;
    height: 0.25rem;
    width: 3rem;
    background-color: var(--primary);
    border-radius: 1rem;
    position: relative;
    transition: 100ms all ease-in-out;
}

.nab-btn__line::before,
.nab-btn__line::after {
    content: "";
    position: absolute;
    height: 0.25rem;
    width: 3rem;
    background-color: var(--primary);
    border-radius: 1rem;
    transition: 300ms all ease-in-out;
}

.nab-btn__line::before {
    top: -0.8rem;
}

.nab-btn__line::after {
    top: 0.8rem;
}

.nav-btn--open .nab-btn__line {
    background-color: transparent;
}

.nav-btn--open .nab-btn__line::before {
    transform: translateY(7.8px) rotate(45deg);
}

.nav-btn--open .nab-btn__line::after {
    transform: translateY(-7.8px) rotate(-45deg);
}