@font-face {
    font-family: "arcivo-black";
    src: url("../fonts/Archivo-Black.ttf") format("truetype");
}

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "roboto-medium";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}