@media only screen and (min-width : 57.6rem) {
    .container {
        /* width: 540px; */
        width: 54rem;
    }
}

@media only screen and (min-width : 76.8rem) {
    .container {
        /* width: 720px; */
        width: 72rem;
    }
}

@media only screen and (min-width : 99.2rem) {
    .container {
        /* width: 960px; */
        width: 96rem;
    }
}

@media only screen and (min-width : 120rem) {
    .container {
        /* width: 1140px; */
        width: 114rem;
    }
}

@media only screen and (min-width : 140rem){
    .conrainer{
        /* width: 1370px; */
        width: 137rem;
    }
}

/* @media only screen and (min-width : 1600px){
    .conrainer{
        width: 1570px;
        width: 157rem;
    }
}

@media only screen and (min-width : 1900px){
    .conrainer{
        width: 1870px;
        width: 187rem;
    }
} */